* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
#wrapper {
    margin: 0;
}



#top-nav {
    display: flex;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid grey;
    margin: 0;
}
#title {
    font-family: 'Bungee Shade', Impact, Charcoal, sans-serif;
    margin-left: 4px;
}



#scores {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    font-family: 'Coda';
}
#player-wrapper {
    margin-right: 4px;
}
#computer-wrapper {
    margin-right: 4px;
}
#player-score {
    margin-right: 20px;
}




#response {
    display: flex;
    justify-content: center;
    font-family: 'Carter One';
}



#buttons {
    display: flex;
    justify-content: center;
}
#rock-img {
    width: 12px;
    height: 12px;
}
#paper-img {
    width: 12px;
    height: 12px;
}
#scissors-img {
    width: 12px;
    height: 12px;
}



#stats-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#recent-games {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 48vw;
    border: solid grey 2px;
    margin: 0;
    height: 500px;
}
#recent-header {
    display: flex;
    padding: 0;
    width: 100%;
    height: 25px;
    border-bottom: solid grey 2px;

}
#recent-games-title {
    margin: 0;
    font-family: 'Coda';
    margin-left: 10px;
    font-size: 14pt;
}
#games {
    display: block;
    height: 500px;
    width: 100%;
    overflow: auto;
}
td,th {
    text-align: center;
    width: 17vw;
    font-family: 'Coda';
    border-bottom: solid gray 1px;
}
#specific-wins {
    width: 48vw;
    border: solid grey 2px;
    margin: 0;
}